.card {
  display: flex;
  text-align: left;
  justify-content: flex-start;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  align-items: center;
  margin: 1rem 0;
}

.thumbnail {
  margin-bottom: 0.5rem;
}

.cardBody {
  padding: 1rem;
  padding-bottom: 0.5rem;
}

/* Targeting image in markdown */
p > img {
  max-width: 80vw;
}
h1 > kbd {
  font-size: medium;
}

@media (min-width: 961px) {
  .cardBody {
    width: 70vw;
  }
}

.actionBar {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.actionBar > button {
  margin-left: 0.5rem;
  display: flex;
  justify-content: center;
}
