.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  text-align: center;
  font-size: smaller;
  background: #eee;
}

.grvsc-container {
  width: 80vw;
}
