a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: black;
}

.nav {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  max-width: 100%;
}

.link {
  margin: 0.5rem;
}
.hamburger {
  margin-right: 1rem;
}

.link > a {
  text-decoration: none;
  color: #2196f3;
}

.link > a:hover {
  opacity: 60%;
}

.title {
  margin-left: 1rem;
  font-weight: bold;
  font-size: x-large;
}

.languageLink {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.languageLink > svg {
  margin-right: 0.1rem;
}

@media (min-width: 961px) {
  .navLinks {
    margin-right: 3em;
    justify-content: flex-end;
    font-size: large;
  }
  .link {
    margin: 0.5rem;
    margin-left: 3rem;
  }
}
