.pagination {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  padding: 0 0.5rem;
}

.pagination > a {
  text-decoration: none;
  color: #2196f3;
}

.disabled {
  pointer-events: none;
  color: #666666 !important;
}
